doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description" content="")
    meta(name="author" content="")

    title Games by Nilo - Number Fill In

    link(href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet")
    link(rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.css")
    link(href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet")
    link(rel="stylesheet" href="device-mockups/device-mockups.min.css")
    link(href="css/new-age.min.css" rel="stylesheet")

  body#page-top

    nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
      .container
        a.navbar-brand.js-scroll-trigger(href="#page-top") Number Fill In
        button.navbar-toggler.navbar-toggler-right(type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation")
          i.fa.fa-bars

        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item
              a.nav-link.js-scroll-trigger(href="#download") Download

            li.nav-item
              a.nav-link.js-scroll-trigger(href="#features") Features

            li.nav-item
              a.nav-link.js-scroll-trigger(href="#contact") Contact

    header.masthead
      .container.h-100
        .row.h-100
          .col-lg-7.my-auto
            .header-content.mx-auto
              h1.mb-5
                | Think you have what it takes to solve these puzzles?
                br
                | Download now
                br
                | and find out!
              a.btn.btn-outline.btn-xl.js-scroll-trigger(href="#download") FREE
          .col-lg-5.my-auto
            .device-container
              .device-mockup.galaxy_s5.portrait.white
                .device
                  .screen
                    img.img-fluid(src="img/demo-screen-1.jpg" alt="")
                  .button

    section#download.download.bg-primary.text-center
      .container
        .row
          .col-md-8.mx-auto
            h2.section-heading Are you ready for the challenge?
            p Our app is available on the Google Play store, download now to get started.
            .badges
              a.badge-link(href="https://play.google.com/store/apps/details?id=com.gamesbynilo.numberfillin")
                img(src="img/google-play-badge.svg" alt="")
              //- a.badge-link(href="#")
              //-   img(src="img/app-store-badge.svg" alt="")

    section#features.features
      .container
        .section-heading.text-center
          h2 Features
          p.text-muted What you get
          hr

        .row
          .col-lg-4.my-auto
            .device-container
              .device-mockup.galaxy_s5.portrait.white
                .device
                  .screen
                    img.img-fluid(src="img/demo-screen-1.jpg" alt="")
                  .button

          .col-lg-8.my-auto
            .container-fluid
              .row
                .col-lg-6
                  .feature-item
                    i.icon-puzzle.text-primary
                    h3 Over 700 puzzles
                    p.text-muted This will gives endless hours of entertainment

                .col-lg-6
                  .feature-item
                    i.icon-frame.text-primary
                    h3 Puzzles come in different sizes
                    p.text-muted From 7x7 to 15x15

              .row
                .col-lg-6
                  .feature-item
                    i.icon-present.text-primary
                    h3 Free to play
                    p.text-muted No extra payments required

                .col-lg-6
                  .feature-item
                    i.icon-trophy.text-primary
                    h3 Free Solutions
                    p.text-muted Each puzzle comes with solutions, just in case you get stuck

    section.cta
      .cta-content
        .container
          h2 Challenge awaits.
            br
            | Download now.
          a(href="https://play.google.com/store/apps/details?id=com.gamesbynilo.numberfillin").btn.btn-outline.btn-xl.js-scroll-trigger FREE
      .overlay

    section#contact.contact.bg-primary
      .container
        h2 Contact us
        ul.list-inline.list-social
          li.list-inline-item.social-email
            a(href="mailto:gamesbynilo@gmail.com")
              i.icon-envelope
          //- li.list-inline-item.social-twitter
          //-   a(href="#")
          //-     i.fa.fa-twitter
          //- li.list-inline-item.social-facebook
          //-   a(href="#")
          //-     i.fa.fa-facebook
          //- li.list-inline-item.social-google-plus
          //-   a(href="#")
          //-     i.fa.fa-google-plus

    footer
      .container
        p &copy; Games by Nilo
          |
          |
          script document.write(new Date().getFullYear());
          | . All Rights Reserved.

    script(src="vendor/jquery/jquery.min.js")
    script(src="vendor/bootstrap/js/bootstrap.bundle.min.js")
    script(src="vendor/jquery-easing/jquery.easing.min.js")
    script(src="js/new-age.min.js")
